/* ScrollDownArrow.css */
.scroll-down-arrow {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  